---
import type {
    ProductsResponse,
    Products,
    CartResponse,
} from "../../interfaces/productTypes";
import ProductCard from "./ProductCard";

// const url = import.meta.env.API_URL;
import { url } from "../../config/url";

const productRes = await fetch(`${url}/products`);
const productsData: ProductsResponse = await productRes.json();
const products: Products[] = productsData.payload;

const cartRes = await fetch(`${url}/carts`);
const cartsData: CartResponse[] = await cartRes.json();
const idCart: string = cartsData[0]._id;
---

<div class="grid grid-cols-4 gap-5">
    {
        products.map((product) => (
            <ProductCard
                thumbnail={product.thumbnail}
                title={product.title}
                price={product.price}
                description={product.description}
                idProduct={product._id}
                idCart={idCart}
                client:load
            />
        ))
    }
</div>
